version: "3.8"

services:
  pixiv-monitor:
    build: .
    container_name: pixiv-monitor
    restart: unless-stopped
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    volumes:
      - ./settings.json:/app/settings.json:ro
      - ./data/logs:/app/log
      - ./data/seen.json:/app/seen.json
